---
import "../styles/global.css";
import { Admin } from "../components/Admin";
---

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width" />
        <script type="importmap">
            {
                "imports": {
                    "react": "https://esm.sh/react@19.1.0",
                    "react-dom": "https://esm.sh/react-dom@19.1.0",

                    "lucide-react": "https://esm.sh/lucide-react@0.503.0",
                    "clsx": "https://esm.sh/clsx@2.1.1",
                    "class-variance-authority": "https://esm.sh/class-variance-authority@0.7.1",
                    "tailwind-merge": "https://esm.sh/tailwind-merge@3.2.0"
                }
            }
        </script>
    </head>
    <body>
        <Admin client:only="react" />
    </body>
</html>
